.divconteneur{
  /* background-color: aquamarine; */
  text-align: center;
  padding: 5px;
  
}

@media (max-width: 640px) 
{ 
    .divconteneur{
      padding-top: 5rem; 
      max-width: 768px; 

}
}
